.about {
    &__container {
        background-color: $secondaryColor;
        padding: 3.75rem;
    }

    &__what-is-gpt {
        display: grid;
        grid-template-columns: 1fr 70%;
        margin-bottom: 4.375rem;
    }

    &__explore {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-bottom: 4.375rem;

        span {
            color: $coral;
            text-align: right;
        }
    }

    &__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;

        h4 {
            margin-bottom: 1.875rem;
        }
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
    .about {
        &__container {
            padding: 1.875rem;
        }

        &__what-is-gpt {
            grid-template-columns: 1fr;
            gap: 1.25rem;
            margin-bottom: 2.5rem;
        }
    
        &__explore {
            display: block;
            margin-bottom: 1.25rem;
    
            span {
                display: none;
            }
        }
    
        &__section {
            grid-template-columns: 1fr;
            gap: 1.25rem;
    
            h4 {
                margin-bottom: .625rem;
            }
        }
    }
}