.blog {
    &__container {
        display: grid;
        grid-template-columns: 35% 1fr 1fr;
        gap: 2.5rem;
    }

    &__title {
        margin-bottom: 3.125rem;
    }

    &__item:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }

    &__item:first-child &__content {
        height: 66%;
    }

    &__item {
        background: $secondaryColor;
    }

    &__content {
        padding: 2.5rem 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .blog-header {
            margin-bottom: 1.875rem;
            p {
                color: $white;
                margin-bottom: .625rem;
            }
        }
    }

    .blog-header {
        h4 {
            transition: .3s ease-in-out
        }

        h4:hover {
            color: $coral;
        }
    }

    .blog-footer {
        a:hover {
            color: $coral;
        }
    }
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 43.0625rem) and (max-width: 62rem) {
    .blog {
        &__container {
            gap: 1.25rem;
        }

        &__title {
            margin-bottom: 2.5rem;
        }

        &__item:first-child &__content {
            height: 69%;
        }

        &__content {
            padding: 1.25rem .9375rem;
        }
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
    .blog {
        &__container {
            grid-template-columns: 1fr;
            gap: 1.875rem;
        }

        &__title {
            margin-bottom: 1.25rem;
        }

        &__item:first-child &__content {
            height: 69%;
        }

        &__content {
            padding: 1.25rem .9375rem;
        }
    }
}
