.brand {
    &__container {
        max-width: 670px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 30px;
    }
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 43.0625rem) and (max-width: 62rem) {
    .brand {
        &__container {
            max-width: 36.75rem;
        }
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
    .brand {
        &__container {
            max-width: 18.75rem;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }
}