.header {
    &__container {
        padding: 1.875rem 0;
    }

    &__nav {
        gap: 3.125rem;
    }

    &__navbar ul {
        gap: 1.875rem;
    }

    .site-logo img {
        width: 75%;
    }

    &__btn {
        gap: 1.875rem;
    }

    &__bar {
        display: none;
        color: $white;
        cursor: pointer;

        i {
            font-size: 1.125rem;
        }
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        background: #000;
        padding: 3.125rem;
        transition: all .3s ease-in-out;
        transform: translateX(-100%);

        i {
            font-size: 1.5rem;
            text-align: right;
        }

        ul {
            flex-direction: column;
            height: 100%;
            justify-content: center;
            gap: .625rem;

            li a {
                font-size: 1.5rem;
            }

            img {
                width: 6.25rem;
                margin-bottom: 2.5rem;
            }
        }

        .mobile-nav-btn {
            gap: 1.25rem;
        }
    }
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 43.0625rem) and (max-width: 62rem) {
    .header {
        &__btn {
            display: none;
        }

        &__nav ul {
            display: none;
        }

        &__bar {
            display: block;
        }
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
    .header {
        &__btn {
            display: none;
        }

        &__nav ul {
            display: none;
        }

        &__bar {
            display: block;
        }
    }
}
