.header {
    &__container {
        padding: 1.875rem 0;
    }

    &__nav {
        gap: 3.125rem;
    }

    &__navbar ul {
        gap: 1.875rem;
    }

    .site-logo img {
        width: 75%;
    }

    &__btn{
        gap: 1.875rem;
    }
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 43.0625rem) and (max-width: 62rem) {
    .header {
        display: none;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
    .header {
        display: none;
    }
}