@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $bodyBg;
    color: $textColor;
    font-size: 1rem;
    line-height: 1.5rem;

    img {
        width: 100%;
    }

    a {
        color: $white;
    }

    h1,
    h2,
    h3 {
        background: $gradientColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.25rem;
        font-weight: 800;
        margin-bottom: 0.625rem;
    }
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 43.0625rem) and (max-width: 62rem) {
    body {
        font-size: 0.875rem;
        line-height: 1.25rem;

        a {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        h1 {
            font-size: 2.625rem;
        }
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43rem) {
}
