$primaryColor: #FF4820;
$secondaryColor: #052D56;
$textColor: #81AFDD;
$lightBlueText: #71E5FF;
$textPlaceholder: #3D6184;
$gradientColor: linear-gradient(to right, #AE67FA, #F49867);
$white: #fff;
$coral: #FF8A71;
$bodyBg: #040C18;
$footerBg: #031B34;